* {
  font-family: 'Inter SemiBold';
}

.brand-name {
  font-size: 3em;
}

.music-player {
  border-top: 1px solid #444;
  backdrop-filter: blur(10px);
}

#seekbar, #volume {
  cursor: pointer;
}

.header {
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sidebar {
  background-image: linear-gradient(#01133D 0%, #000925 20%, #00BBFF 100%);
}

body {
  background-image: linear-gradient(#00022D 0%, #00E5FF 100%);
}

.music-player {
  /* music player styling */
  background-color: black;
}

.nav-link:hover {
  /* transparent background for nav item hover */
  background-color: rgba(200, 200, 200, 0.302);
}

.main-header {
  font-size: 3em;
  font-style: italic;
}

.main-subtitle {
  font-style: italic;
}

.track-title {
  font-style: italic;
  font-size: 1.3em;
}